<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="view/header::header"><title>Create Department</title></head>
<nav th:replace="view/navbar2::nav2"></nav>
<nav th:replace="view/adminMenu::adminMenu"></nav>
<nav th:replace="view/mngMenu::mngMenu"></nav>
<body>
<h1>Create Department</h1>
<form action="#" th:object="${department}" th:action="@{/admin/savedp}" method="post" >
		<fieldset>
		<input type="hidden" th:field="*{id}">  
		</fieldset>
		<fieldset>
			Department Name: <input type="text" th:field="*{name}">
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		</fieldset>
		<fieldset>
			<button type="submit" >Save</button>
			<button type="reset">Reset</button>
		</fieldset>
		
	</form>
</body>
</html>