<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Leave Type</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Create Leave Type</h1>
<form action="#" th:object="${leavetype}" th:action="@{/admin/saveleavetype}" method="post" >
		<fieldset>
		<input type="hidden" th:field="*{id}">  
		</fieldset>
		<fieldset>
			Leave Type Name: <input type="text" th:field="*{leaveName}">
			<p th:if="${#fields.hasErrors('leaveName')}" th:errors="*{leaveName}"></p>
		</fieldset>
		
		<fieldset>
			<button type="submit" >Save</button>
			<button type="reset">Reset</button>
		</fieldset>
		
	</form>
</body>
</html>