<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="view/header::header">
<title>Public Holiday Form</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
<title th:utext="#{publicholidayDetail.title}">Product Form</title>
</head>

<nav th:replace="view/navbar2::nav2"></nav>

<body>
	<h1>Public Holiday Form</h1>
	<form action="#" th:object="${holiday}" th:action="@{/public-holiday/save}"
		method="get">
		<fieldset>
			<input type="hidden" th:field="*{id}">
		</fieldset>
		<fieldset>
			Name:<input type="text" th:field="*{holidayName}">
		</fieldset>
		<!-- <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p> -->
		<fieldset>
			 Date:<input type="text" th:field="*{date}"
				placeholder="dd-MM-yyyy"/>
			
		<!-- <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p> -->	
		</fieldset>
	 <!--   <fieldset>
			End Date:<input type="text" th:field="*{endDate}"
				placeholder="dd-MM-yyyy"
				th:text="${#dates.format(holiday.endDate, 'dd-MM-yyyy')}" />
			<!-- <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p> -->	
	 <!-- 	</fieldset>
		<fieldset>
			Duration:<input type="text" th:field="*{duration}">
			<p th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></p>
		</fieldset>
		 -->
		<fieldset>
			<button type="submit">Save</button>
		</fieldset>
	</form>
</body>
</html>
