<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="view/header::header"><title>Apply Compensation Leave</title></head>
<nav th:replace="view/navbar2::nav2"></nav>
<nav th:replace="view/adminMenu::adminMenu"></nav>
<nav th:replace="view/mngMenu::mngMenu"></nav>

<body>
<div style="width:50%; float:left">
<h1>Compensation Leave Application</h1>
<form action="#" th:object="${leave}" th:action="@{/emp/compsave}" method="post" >
	<div th:text="${msg}"></div>
	Start Date: <input type="date" th:field="*{startDate}" id="sd" min="2020-02-02" th:required="required">
	 <select name="startTime" id="startTime" th:required="required">
				<option value=""></option>
				<option
					th:each="startTime: ${T(sg.edu.LeaveApplication.model.Time).values()}"
					th:value="${startTime}" th:text="${startTime.displayValue}"></option>
			</select>
	
	
	End Date: <input type="date" id="ed" th:name="endDate" min="2020-02-02" th:required="required">
		 <select name="endTime" id="endTime" th:required="required">
				<option value=""></option>
				<option
					th:each="startTime: ${T(sg.edu.LeaveApplication.model.Time).values()}"
					th:value="${startTime}" th:text="${startTime.displayValue}"></option>
			</select>
	<input type="button" id="checkDurBtn" value="Check Duration">  
	<p>Duration:<span id="duration" th:name="duration"></span></p>
	</br>
	Reason for Leave: 
	<textarea rows="5" th:field="*{description}" th:required="required"></textarea>
	</br>
	<label>Work Dissemination (if any)</label>
	<input type="text" th:field="*{workDissemination}"/><br/>  
	<label>Emergency Contact (if any)</label>
	<input type="tel" pattern="[0-9]{8}"th:field="*{contactDetails}"/>  
	<small>Format:12345678</small><br/>
	<button type="submit">Save</button>
	<a th:href="@{/emp/complist}">Cancel</a>
</form>
</div>
<aside style="width:20%;float:right">
<div>
<h2>Days Claimable:</h2>
	<table>
		<tr>
		<td th:text="((${OTBalance}<4)? '0' : (${OTBalance}-(${OTBalance}%4))/8)"></td>
		</tr>
		<!-- <tr th:each="balance: ${balanceList}">
			<td th:text="${balance.leaveName}">Leave Name</td>
			<td th:text="${balance.leaveAllowance}"></td>
		</tr> -->
	</table>
</div>

<div>
<h2>Public Holidays in 2020</h2>
	<table th:if="${not #lists.isEmpty(phlist)}">
		<tr>
			<th>Holiday Name</th>
			<th>Date</th>
		</tr>
		<tr th:each="ph: ${phlist}">
			<td th:text="${ph.holidayName}"></td>
			<td th:text="${ph.date}"></td>
		</tr>
	</table>
</div>
</aside>
<script>
	$(document).ready(function(){
		$("#checkDurBtn").on('click',function(){
			var sd = new Date($("#sd").val());
			var ed = new Date($("#ed").val());
			var time= ed.getTime() - sd.getTime();
			var st = $("#startTime option:selected").text();
			var et = $("#endTime option:selected").text();
			var duration = time /(1000*24*3600)+ 1;

			if(st === "PM" && et === "" || st === "PM" && et === "AM" || st === "AM" && et === "AM" || st === "" && et === "AM" ){
				duration = duration - 0.5;
			}	
			if(sd.getTime() === ed.getTime() && st === et){
				duration = 0;
			}
			$("#duration").text(duration + " day(s)");
		});
		var today = new Date().toISOString().split('T')[0];
		$("#sd").attr('min',today);
		
		$("#sd").on('input',function(){
			var newsd = $("#sd").val();
			$("#ed").attr('min',newsd);
		})
		
	})

	
</script>
</body>
</html>