<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="view/header::header">
<meta charset="ISO-8859-1">
<title>Apply New Leave</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<nav th:replace="view/navbar2::nav2"></nav>

<body>
    <div class="card border-light mb-3 mx-auto" style="width:50%; float:left; margin: 5rem">
        <div class="card-header">Leave Application Form</div>
        <div class="card-body">
    <form action="#" th:object="${leave}" th:action="@{/emp/save}" method="post" >
        <p th:text="${msg}"></p>
        <lable>Start Date:</lable> 
        <input type="date" th:field="*{startDate}" id="sd" min="2020-02-02">	
        <label>End Date: </label>
        <input type="date" id="ed" th:name="endDate" min="2020-02-02"></br>
        <label>Duration:</label><p id="duration" th:name="duration"></p>
        <label>Type of Leave: </label>
            <select th:field = "*{leaveTypes}">
            <option th:each = "leaveType : ${leaveTypes}" th:if="${leaveType.leaveName != 'Compensation Leave'}" 
                th:value = "${leaveType.leaveName}" th:text = "${leaveType.leaveName}"> </option> 
            </select></br>
        <label>Leave Reason: </label>
        <input type="text" th:field="*{description}" th:required="required"> 
        </br>
        <label>Work Dissemination (if any)</label>
        <input type="text" th:field="*{workDissemination}"/><br/>  
        <label>Emergency Contact (if any)</label>
        <input type="tel" pattern="[0-9]{8}"th:field="*{contactDetails}"/>  
        <small>Format:12345678</small><br/>
        <button class="btn btn-primary"type="submit">Save</button>
        <a th:href="@{/emp/list}">Cancel</a>
    </div>
    </form>
</div>


<aside style="width:20%;float:right; margin: 5rem">
<div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Your Leave Balance</div>
	<table>
		<tr th:each="balance: ${balanceList}">
			<td th:text="${balance.leaveName}">Leave Name</td>
			<td th:text="${balance.leaveAllowance}"></td>
		</tr>
	</table>
</div>

<div class="card border-info mb-3" style="max-width: 18rem; ">
    <div class="card-header">Public Holidays in 2020</div>
    <div class="card-body">
	<table th:if="${not #lists.isEmpty(phlist)}">
		<tr>
			<th>Holiday Name</th>
			<th>Date</th>
		</tr>
		<tr th:each="ph: ${phlist}">
			<td th:text="${ph.holidayName}"></td>
			<td th:text="${ph.date}"></td>
		</tr>
    </table>
</div>
</div>
</aside>
<script>
	$(document).ready(function(){
		$("#ed").on('input',function(){
			var sd = new Date($("#sd").val());
			var ed = new Date($("#ed").val());
			var time= ed.getTime() - sd.getTime();
			var duration = time /(1000*24*3600)+ 1;
			$("#duration").text(duration + " day(s)");
		});
		var today = new Date().toISOString().split('T')[0];
		$("#sd").attr('min',today);
		
		$("#sd").on('input',function(){
			var newsd = $("#sd").val();
			$("#ed").attr('min',newsd);
		})
		
	})
</script>
</body>
</html>
