<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<h1>User Registration</h1>
<form action="#" th:object="${user}" th:action="@{/user/save}" method="post">
		<fieldset>
		<input type="hidden" th:field="*{id}"/>  
		</fieldset>
		<fieldset>
			First Name: <input type="text" th:field="*{firstName}">
			<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
		</fieldset>
		<fieldset>
			Last Name: <input type="text" th:field="*{lastName}">
			<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
		</fieldset>
		<fieldset>
			User Name: <input type="text" th:field="*{userName}">
			<p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
		</fieldset>
		<fieldset>
			Password: <input type="password" th:field="*{password}">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
		</fieldset>
		<fieldset>
			Email: <input type="text" th:field="*{email}">
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
		</fieldset>		
		<fieldset>
			Role :
			<select th:field="*{role}" >
		    <option th:each="role : ${T(sg.edu.LeaveApplication.model.Role).values()}"
		            th:value="${role}"
		            th:text="${role}">
		    </option>
			</select>
		</fieldset>		
		<fieldset>
			Report To: <input type="text" th:field="*{reportsTo}">
			
		</fieldset>
		
		<fieldset>
			Gender :
			<select th:field="*{gender}">
		    <option th:each="gender : ${T(sg.edu.LeaveApplication.model.Gender).values()}"
		            th:value="${gender}"
		            th:text="${gender}">
		    </option>
			</select>
		</fieldset>
		
		<fieldset>
			Department ID: <input type="text" th:field="*{deptId}">
			
		</fieldset>
		
		<fieldset>
			Title :
			<select th:field="*{title}">
		    <option th:each="title : ${T(sg.edu.LeaveApplication.model.Title).values()}"
		            th:value="${title}"
		            th:text="${title}">
		    </option>
			</select>
		</fieldset>

		<fieldset>
			<button type="submit" >Save</button>
		</fieldset>
	</form>
</body>
</html>