<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>	
	body {background-color: powderblue;}
	.cardhaha {margin: 20px 0px;}
	.sidenav {
	  width: 130px;
	  background: #eee;
	  overflow-x: hidden;
	  padding: 8px 0;
	  margin: 20px 0px 0px -30px;
	}

	.sidenav a {
	  padding: 6px 8px 6px 16px;
	  text-decoration: none;
	  font-size: 12px;
	  color: #2196F3;
	  display: block;
	}
	
	.sidenav a:hover {
	  color: #064579;
	}
	
	.menuLabel {
		padding: 6px 8px 6px 16px;
		font-size: 15px;
	}
</style>

<head lang="en" th:replace="view/header::header"></head>
<!-- <nav th:replace="view/navbar::nav"></nav> -->
<nav th:replace="view/navbar2::nav2"></nav>

<body>
<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<div class="sidenav" th:if="${isManager}">
				<h3 class="menuLabel">Manager Controls</h3>
			  	<a href="/mng/viewLeave">View Leave Applications</a>
			  	<a href="/mng/ViewOT">View OT Claims</a>
			  	<a href="/mng/viewLeaveHistory">View/Export Leave Records</a>
			</div>
			<div class="sidenav" th:if="${isAdmin}">
				<h3 class="menuLabel">Admin Controls</h3>
			  	<a href="/user/list">Manage Users</a>
			  	<a href="/admin/phlist">Manage Holidays</a>
			  	<a href="/admin/dplist">Manage Departments</a>
			  	<a href="/admin/leavetypelist">Manage Leave Types</a>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="col-sm-12 card bg-light mb-3 cardhaha">
				<div class="card-header">Your Remaining Leave</div>
				<div class="card-body">
					<table>
						<tr>
							<th>Leave Type</th>
							<th>Number of Days</th>
						</tr>
						<tr th:each="LR:${leaveRemaining}">
							<td th:text="${LR.leaveName}">Name</td>
							<td th:text="${LR.leaveAllowance}">Days</td>
						</tr>
					</table>
				</div>
			</div>		
			<div class="col-sm-12 card bg-light mb-3 cardhaha">
				<div class="card-header"><a href="/emp/list">Your Pending Leave Applications</a></div>
				<div class="card-body">
					<table>
						<tr>
							<th>Leave Type</th>
							<th>Start Date</th>
							<th>Duration</th>
							<th>Applied On</th>
						</tr>
						<tr th:each="mine1:${myleave}">
							<td th:text="${mine1.leaveTypes.leaveName}">Apple</td>
							<td th:text="${mine1.startDate}">10/10/2020</td>
							<td th:text="${mine1.duration}">2</td>
							<td th:text="${mine1.leaveAppliedDate}">09/09/2020</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-sm-12 card bg-light mb-3 cardhaha">
				<div class="card-header"><a href="/emp/OTList">Your Pending OT Claims</a></div>
				<div class="card-body">
					<table>
						<tr>
							<th>Start Date</th>
							<th>Total OT Time</th>
							<th>Claim Submitted On</th>
						</tr>
						<tr th:each="mine2:${myOT}">
							<td th:text="${mine2.startDate}">10/10/2020</td>
							<td th:text="${mine2.totalOTTime}">2</td>
							<td th:text="${mine2.submitDate}">09/09/2020</td>
						</tr>
					</table>
				</div>
			</div>		
		</div>
		<div class="col-sm-5" th:if="${isManager}">
			<div class="col-sm-12 card bg-light mb-3 cardhaha">
				<div class="card-header">Employees Currently On Leave</div>
				<div class="card-body">
					<table>
						<tr>
							<th>Name</th>
							<th>Start Date</th>
							<th>Duration</th>
						</tr>
						<tr th:each="empName:${onleave}">
							<td th:text="${empName.user.firstName + ' ' + empName.user.lastName}">name</td>
							<td th:text="${empName.startDate}">10/10/2020</td>
							<td th:text="${empName.duration}">3</td>
					</table>
				</div>
			</div>
			<div class="col-sm-12 card bg-light mb-3 cardhaha">
				<div class="card-header"><a href="/mng/viewLeave">Leave Applications For Your Approval</a></div>
				<div class="card-body">
					<table>
						<tr>
							<th>Name</th>
							<th>Start Date</th>
							<th>Duration</th>
							<th>Applied On</th>
						</tr>
						<tr th:each="leave:${pendingLeave}">
							<td th:text="${leave.user.firstName + ' ' + leave.user.lastName}">name</td>
							<td th:text="${leave.startDate}">10/10/2020</td>
							<td th:text="${leave.duration}">3</td>
							<td th:text="${leave.leaveAppliedDate}">09/09/2020</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-sm-12 card bg-light mb-3 cardhaha">
				<div class="card-header"><a href="/mng/ViewOT">Overtime Claims For Your Approval</a></div>
				<div class="card-body">
					<table>
						<tr>
							<th>Name</th>
							<th>Start Date</th>
							<th>Total OT Time</th>
						</tr>
						<tr th:each="OT:${pendingOT}">
							<td th:text="${OT.user.firstName + ' ' + OT.user.lastName}">name</td>
							<td th:text="${OT.startDate}">10/10/2020</td>
							<td th:text="${OT.totalOTTime}">11/11/2020</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>