<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Department Listing</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
<!--  <th:block th:include="~{layout/header}"></th:block> -->
</head>
<body>
<h1>Leave Application Listing</h1>

<!-- Add Hyperlink -->
	<a href="createLeave.html" th:href="@{/leave/apply}">Apply Leave</a>

	<h2 th:if = "${not #lists.isEmpty(leaveList)}"> Leave History</h2> 
	<table border = 1 , class="w3-container" th:if="${not #lists.isEmpty(leaveList)}">
			<tr>
				<th>Leave Id</th>
				<th>Leave Type</th>
				<th>Number of Days</th>
				<th>From</th>
				<th>Status</th>
				<th>Created</th>
				<th>Action</th>
				
			</tr>
			<tr th:each="leave:${leaveList}">
				<td th:text=*{leave.id}>Id</td>
				<td th:text=*{leave.LeaveTypeId}>Type</td>
				<td th:text=*{leave.duration}>Duration</td>
				<td th:text=*{leave.startDate}>startDate</td>
				<td th:text=${leave.status}>leaveStatus</td>
				<td th:text=${leave.leaveAppliedDate}>creationDate</td>
				<td><a href="EditDepartment.html"
					th:href="@{/leave/detail/}+${leave.id}">View Details</a></td>	
			</tr>
	</table>


</body>
</html>