<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Details</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />

</head>
<body>
<h1>Application Details</h1>

<ul th:object="${leave}">
<li>Id: <b th:text="*{id}"></b></li>
<li>Applied Date: <b th:text="*{leaveAppliedDate}"></b></li>
<li>Start Date: <b th:text="*{startDate}"></b></li>
<li>End Date</li>
<li>Duration: <b th:text="*{duration}"></b></li>
<li>Description: <b th:text="*{description}"></b></li>
<li>Work Dissemination: : <b th:text="*{workDissemination}"></b></li>
<li>Contact Details: <b th:text="*{contactDetails}"></b></li>
<hr/>
<li>Application Status: <b th:text="*{status}"></b></li>
<li>Updated Date: <b th:text="*{leaveApprovedDate}"></b></li>
<li>Manager Comments: <b th:text="*{comments}"></b></li>
</ul>
<td>
<a th:href="@{/leave/list}">Back</a></td>	
</body>
</html>