<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="view/header::header"><title>Claim Compensation Leave</title></head>
<nav th:replace="view/navbar2::nav2"></nav>
<nav th:replace="view/adminMenu::adminMenu"></nav>
<nav th:replace="view/mngMenu::mngMenu"></nav>

<body>

<h2>OverTime Claim Form</h2>

<form action="#" th:object="${OTRecord}" th:action="@{/emp/saveOT}" method="post">
	<div class="form-group">
	<h4>Current Balance: </h4>
		<h4 th:text="${OTBalance}"></h4>
		<label for="startDate">Start Date</label>
		<input class="form-control" type="date" th:field="*{startDate}" id="sd"/> 
		<p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
		</br>
		<label for="endDate">End Date</label>
		<input class="form-control" type="date" th:field="*{endDate}" id="ed"/>		 
		<label for="othours">OT Hours</label>
		<input class="form-control" type="number" value="1" min="1" th:field="*{totalOTTime}"/>
		<p th:if="${#fields.hasErrors('totalOTTime')}" th:errors="*{totalOTTime}"></p>
		</br>
		<label for="reason">Description</label>
		<textarea class="form-control" rows="5" th:field="*{description}"></textarea>
		</br>
		<button class="btn btn-primary" type="submit">Submit</button>
		<a th:href="@{/emp/OTList}">Cancel</a>
	</div>
</form>
<script>
	$(document).ready(function(){
		var today = new Date().toISOString().split('T')[0];
			$("#sd").attr('max',today);
			$("#ed").attr('max',today);
	})
</script>
</body>
</html>