<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Listing Page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
<title th:utext="#{users.page.title}">title</title>
</head>
<body>
	<h1 th:utext="#{users.page.title}">
			home
	</h1>
	<!-- Add Hyperlink -->
	<a href="AddUser.html" th:href="@{/user/add}"
		th:utext="#{users.page.add}">label</a>
		
	<h2 th:utext="#{users.page.title}" th:if="${not #lists.isEmpty(users)}">header</h2>
	<table class="w3-container" th:if="${not #lists.isEmpty(users)}">
		<tr>
	         <th>ID</th>
	         <th>FirstName</th>
	         <th>LastName</th>
	         <th>UserName</th>
	         <th>Email</th>
	         <th>Role</th>
	         <th>Report To</th>
	         <th>Gender</th>
	         <th>Department</th>
	         <th>Title</th>
        </tr>
		<tr th:each="user:${users}">
			<td th:text=${user.id}>Id</td>
			<td th:text=${user.firstName}>FirstName</td>
			<td th:text=${user.lastName}>LastName</td>
			<td th:text=${user.userName}>UserName</td>
			<td th:text=${user.email}>Email</td>
			<td th:text=${user.role}>Role</td>
			<td th:text=${user.reportsTo}>ReportsTo</td>
			<td th:text=${user.gender}>Gender</td>
			<td th:each="d:${user.department}" th:text=${d.name}>Department</td>
			<td th:text=${user.title}>Title</td>
			<td><a href="EditUser.html"
				th:href="@{/user/edit/}+${user.id}" th:utext="#{users.page.edit}"> Edit </a></td>
			<td><a href="DeleteUser.html"
				th:href="@{/user/delete/}+${user.id}" th:utext="#{users.page.delete}"> Delete </a></td>
			<td>
				<span th:if="${#lists.isEmpty(user.userLeaveTypes)}"><a href="AssignLeave.html"
				th:href="@{/user/assignLeave/}+${user.id}" th:utext="#{leave.page.display}"> Assign </a></span>
    			<span th:if="${not #lists.isEmpty(user.userLeaveTypes)}"><a href="EditLeave.html"
				th:href="@{/user/editLeave/}+${user.id}" th:utext="#{edit.leave.display}"> editLeave </a></span>
			</td>
			<td><a href="DisplayUser.html"
				th:href="@{/user/display/}+${user.id}" th:utext="#{users.page.display}"> Display </a></td>
		</tr>
	</table>

</body>
</html>