<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{viewleave.page.title}"></title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<h1 th:text="#{viewleave.page.title}"></h1>
<h2 th:text="#{search.header}">Search Criteria</h2>
	<form th:action="@{/viewLeave}" method="get" >
		<fieldset>
			Employee Name: <input id="txtSearch" type="text" name="keyword">
		</fieldset>
		<fieldset>
			Leave Type: <select>
				<option value=""></option>
			</select>
		</fieldset>		
		<button type="submit" th:text="#{button.search}">search</button>		
	</form>
	
	<h2 th:utext="#{viewleave.page.header}" th:if="${not #lists.isEmpty(uleavelist)}">header</h2>
	<table class="w3-container" th:if="${not #lists.isEmpty(leavelist)}">
<!-- dummies -->

		<tr>
			<th>Employee Id</th>
			<th>Name</th>
			<th>Leave Type</th>
			<th>Days</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Reason</th>
		</tr>
		<tr th:each="list:${leavelist}">
			<td th:text=${list.id}></td>
			<td th:text=${list.user.firstName}></td>
			<td th:text=${list.leaveTypes.leaveName}></td>
			<td th:text=${list.duration}></td>
			<td th:text="${#dates.format(list.leaveAppliedDate, 'dd-MM-yyyy')}"></td>
			<td th:text="${#dates.format(list.leaveApprovedDate, 'dd-MM-yyyy')}"></td>
			<td th:text=${list.description}></td>
			<td><a href="ApproveLeave.html"
				th:href="@{/leave/approveLeave/}+${list.id}" th:utext="#{leave.approve.title}">Approve</a></td>
			<td><a href="RejectLeave.html"
				th:href="@{/leave/rejectLeave/}+${list.id}" th:utext="#{leave.reject.title}">Reject</a></td>
		</tr>
</table>
<!-- end of dummies -->


</body>
</html>
