<div th:fragment="adminMenu" th:if=${isAdmin}>
<ul class="nav">
<li>
<a class="nav-link disabled">Admin Control Panel: </a>
</li>
  <li class="nav-item">
    <a class="nav-link active" href="/user/list">Manage User</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/phlist">Manage Holidays</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/dplist">Manage Department</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/leavetypelist">Manage Leave Types</a>
  </li>
</ul>
</div>